In [77]:
import pandas as pd
import numpy as np

In [78]:
customer_data=pd.read_csv("marketing_customer_analysis.csv")

In [79]:
customer_data=customer_data.drop(customer_data.columns[0],axis=1)

In [80]:
customer_data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [81]:
customer_data.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size', 'Vehicle Type'],
      dtype='object')

In [82]:
customer_data=customer_data.rename(columns= {'Customer':"ID", 'Customer Lifetime Value':"CLV",'Effective To Date':"ETD", 'EmploymentStatus':"ES", 'Location Code':"LC", 'Marital Status':"MS", "Monthly Premium Auto":"MPA",'Months Since Last Claim':"MSLC", 'Months Since Policy Inception':"MSPI",'Number of Open Complaints':"NOC", 'Number of Policies':"NP", 'Policy Type':"PT",'Renew Offer Type':"ROT", 'Sales Channel':"SC", 'Total Claim Amount':"TCA",'Vehicle Class':"VC", 'Vehicle Size':"VS", 'Vehicle Type':"VT"})

In [83]:
customer_data.dtypes

ID            object
State         object
CLV          float64
Response      object
Coverage      object
Education     object
ETD           object
ES            object
Gender        object
Income         int64
LC            object
MS            object
MPA            int64
MSLC         float64
MSPI           int64
NOC          float64
NP             int64
PT            object
Policy        object
ROT           object
SC            object
TCA          float64
VC            object
VS            object
VT            object
dtype: object

In [84]:
customer_data.isna().sum()

ID              0
State         631
CLV             0
Response      631
Coverage        0
Education       0
ETD             0
ES              0
Gender          0
Income          0
LC              0
MS              0
MPA             0
MSLC          633
MSPI            0
NOC           633
NP              0
PT              0
Policy          0
ROT             0
SC              0
TCA             0
VC            622
VS            622
VT           5482
dtype: int64

In [85]:
round(customer_data.isna().sum()/len(customer_data)*100)

ID            0.0
State         6.0
CLV           0.0
Response      6.0
Coverage      0.0
Education     0.0
ETD           0.0
ES            0.0
Gender        0.0
Income        0.0
LC            0.0
MS            0.0
MPA           0.0
MSLC          6.0
MSPI          0.0
NOC           6.0
NP            0.0
PT            0.0
Policy        0.0
ROT           0.0
SC            0.0
TCA           0.0
VC            6.0
VS            6.0
VT           50.0
dtype: float64

In [86]:
customer_data=customer_data.drop(["VT"],axis=1)

In [87]:
customer_data=customer_data.drop_duplicates()

In [88]:
mean_MSLC=np.mean(customer_data["MSLC"])
mean_NOC=np.mean(customer_data["NOC"])

In [89]:
customer_data["MSLC"]= customer_data["MSLC"].fillna(mean_MSLC)
customer_data["NOC"]= customer_data["NOC"].fillna(mean_NOC)

In [90]:
customer_data.isna().sum()

ID             0
State        612
CLV            0
Response     612
Coverage       0
Education      0
ETD            0
ES             0
Gender         0
Income         0
LC             0
MS             0
MPA            0
MSLC           0
MSPI           0
NOC            0
NP             0
PT             0
Policy         0
ROT            0
SC             0
TCA            0
VC           595
VS           595
dtype: int64

In [91]:
customer_data["Response"].value_counts(dropna=False)

No     8782
Yes    1460
NaN     612
Name: Response, dtype: int64

In [92]:
customer_data["Response"]=customer_data["Response"].fillna("No")

In [93]:
customer_data.isna().sum()

ID             0
State        612
CLV            0
Response       0
Coverage       0
Education      0
ETD            0
ES             0
Gender         0
Income         0
LC             0
MS             0
MPA            0
MSLC           0
MSPI           0
NOC            0
NP             0
PT             0
Policy         0
ROT            0
SC             0
TCA            0
VC           595
VS           595
dtype: int64

In [94]:
customer_data=customer_data[customer_data["VC"].isna()==False]

In [95]:
customer_data.isna().sum()

ID             0
State        583
CLV            0
Response       0
Coverage       0
Education      0
ETD            0
ES             0
Gender         0
Income         0
LC             0
MS             0
MPA            0
MSLC           0
MSPI           0
NOC            0
NP             0
PT             0
Policy         0
ROT            0
SC             0
TCA            0
VC             0
VS             0
dtype: int64

In [96]:
customer_data["ETD"]=pd.to_datetime(customer_data["ETD"],errors="coerce")

In [101]:
months=[]
for i in range(len(customer_data["ETD"])):
    months.append(customer_data.iloc[i]["ETD"].month)
customer_data["month"]= months

In [102]:
customer_data

,ID,State,CLV,Response,Coverage,Education,ETD,ES,Gender,Income,...,NOC,NP,PT,Policy,ROT,SC,TCA,VC,VS,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,0.383939,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,0.383939,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2
10909,IV32877,NaN,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,0.000000,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1

In [104]:
customer_data[customer_data["month"]<=4]

,ID,State,CLV,Response,Coverage,Education,ETD,ES,Gender,Income,...,NOC,NP,PT,Policy,ROT,SC,TCA,VC,VS,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,0.383939,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,0.383939,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2
10909,IV32877,NaN,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,0.000000,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1